.welcome {
    background-color: #9E9E9E;
    margin: auto;
    width: 35%;
    height: 50%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.welcome {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    vertical-align: middle;
}

.welcome h1 {
    padding-top: 20px;
}

.welcome p {
    padding-top: 20px;
}


.faded {
    background-image: url("images/terrain.jpeg");
}

.btnAbout {
    float: left;
    padding-left: 75px;
    padding-top: 75px;
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
}

.btnStart {
    float: right;
    padding-right: 75px;
    padding-top: 75px;
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
}

.signUp {
    background-color: #9E9E9E;
    margin: auto;
    width: 35%;
    height: 50%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.signUp {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    vertical-align: middle;
}

.signUp form {
    padding: 10px;
}

.btnAboutEnd {
    margin: auto;
    padding-left: 75px;
    padding-top: 75px;
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
}

.footer {
    position:absolute;
   bottom:0;
   font-family: 'Press Start 2P', cursive;
   text-align: center;
   margin:auto;
}



